#socesc_wrapper {
    background-color: #fff;
    height: 100%;
    left: 0px;
    overflow-y: scroll;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 2500;
}
#socesc_close_txt, #socesc_close_btn {
    cursor: pointer;
    font-weight: bold;
}
#socesc_right_btn {
    font-size: 2em;
    padding-right: 2%;
    text-align: right;
    width: 98%;
}
#socesc_close_txt {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
#socesc_close_txt:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
#socesc_close_txt:hover:after {
    width: 100%;
    background-color: #080;
}
.socesc-img {
    max-width: 200px;
}
.socesc_instruction {
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
}